@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100&display=swap');
*{
	padding: 0;
	margin: 0;
	border: 0;
	}
	*,*:before,*:after{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	
	}
	:focus,:active{outline: none;}
	a:focus,a:active{outline: none;}
	nav,footer,header,aside{display: block;}
	html,body{
		height: 100%;
		width: 100%;
		font-size: 100%;
		line-height: 1;
		font-size: 14px;
		ms-text-size-adjust: 100%;
		moz-text-size-adjust: 100%;
		webkit-text-size-adjust: 100%;
	}
	input, button, textarea{font-family: inherit;}
	
	input::-ms-clear{display: none;}
	button{cursor: pointer;}
	button::-moz-focus-inner{padding: 0; border: 0;}
	a,a:visited{text-decoration: none;}
	ul li{list-style: none;}
	img{vertical-align: top;}
	h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
	
.banner {
	font-family: 'Open Sans', sans-serif;
	position: relative;
	height: 1026px;
	justify-content: center;
	background: url(img/image.png) 0px 0px no-repeat;
	background-size: cover;
	display: flex;
}

.banner::before{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:rgba(0, 0, 0, .5);
	background-size: cover;
}
@media screen and (max-width: 426px) and (min-width:320px){ 
	
}


.meny {
	position: fixed;
	z-index: 1000;
	background-color: #000;
	height: 77px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

.meny__icon {
	margin-left: 115.3px;
}

.meny__novigation {
	display: flex;
	margin-right: 170px;
	font-family: 'Open Sans', sans-serif;
	width: 570px;
	justify-content: space-between;
}

@media screen and (max-width: 426px) and (min-width:320px){
	.meny {
		height: 5.5%;
		position: static;
	}
	.meny__icon {margin: 0 auto;
		
	}
	.meny__novigation {
		display: none;
	}
}


.meny__nov {
	background-color: #000;
	border: none;
	color: #fff;
	font-weight: 600;
}

.meny__icon img,.meny__icon {
	background-color: #000;
} 

.banner__page {
	width: 1170px;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner__logo {
	margin-bottom: 73px;
	padding-top: 23px;
}

.banner__block {
	width: 57%;
}

.banner__title {
	font-size: 48px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 5.3%;
}

.banner__line {
	width: 170px;
	border-bottom: 1px solid #fff;
	margin-bottom: 42px;
}

.banner__subtitle {
	font-size: 18px;
	width: 270px;
	color: #fff;
	font-weight: 400;
	line-height: 21px;
	margin-bottom: 42px;
}

.banner__download {
	width: 270px;
	height: 58px;
	border: 2px solid #fff;
	background: none;
	color: #fff;
	font-size: 18px;
}
@media screen and (max-width: 426px) and (min-width:320px){
	.banner__block {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.banner__logo {
		display: none;
	}
	.banner {
	background-position: center;
	height: 1005px;
	width: 100%;
	}
	.banner__page{
		flex-direction: column;	
		justify-content: space-evenly;
		height: 100%;
	}
	.banner__title {
		margin-top: 4%;
		text-align: center;
		font-size: 36px;
	}
	.banner__line {
		width: 134px;
	}
	.banner__subtitle {
		font-size: 16px;
		text-align: center;
	}
}

.banner__tr-wrapper {
	width: 38.5%;
}

.banner__trail {
	border: 1px solid #fff;
	border-radius: 10px 10px 0 0;
	background: #fff;
	padding: 8.5% 10.6% 0 10.6%;
}

.banner__tr-title {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 19%;
}

span {
	color: #EC7979;
}

.container-wrapper {
	margin-bottom: 45px;

}
.banner__start-wrapper {
	height: 60px;
	display: flex;
	justify-content: center;
	background-color: #EC7979;
	border: 1px solid #EC7979;
	border-radius: 0 0 10px 10px;
}

.banner__start {
	background-color: #EC7979;
	width: 90%;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
}

.input-container {
	line-height: 19px;
	height: 38px;
	border-bottom: 1px solid #BDBDBD;
	margin-bottom: 33px;
}

.banner__media {
	height: 140px;
	width: 100%;
	background: #F8EFEF;
	display: flex;
	margin-bottom: 9.6%;
	justify-content: space-around;
}



.media__title {
	width: 31%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.media__social {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
}

.media__icon-wrapper {
	width: 670px;
	display: flex;
	justify-content: space-between;
	color: #ccc;
	align-items: center;
}

.media__text {
	color: #86878B;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

@media screen and (max-width: 426px) and (min-width:320px){
	.banner__tr-wrapper {
		width: 90%;
		height: 38%;
	}

	.banner__tr-title {
		font-size: 14px;
	}
	.banner__trail {

	}
	.banner__media {
		height: 239px;
		font-size: 14px;
		flex-direction: column;
		padding: 0 7%;
	}
	.media__title {
		height: 44.3%;
		width: 100%;
		text-align: center;
	}
	.media__icon-wrapper {
		width: 100%;
	}
	i {
		transform: scale(0.7);
	}
}


.tabs {
	width: 81.2%;
	margin: 8% auto;
	font-family: 'Open Sans', sans-serif;
}

#tabs__cell {
	font-family: 'Open Sans', sans-serif;
	padding: 11px 84px;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #C6CBCD;
}

#tabs__cell:first-child {
	display: flex;
	border: 1px solid #C6CBCD;
	border-radius: 5px 5px 0 0;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid white;
}

.tabs__top-line {
	width: 50% ;
	justify-content: space-around;
	text-align: center;
	margin-bottom: -1px;
	display: flex;
}

.tabs__container {
	display: flex;
	border: 1px solid #C6CBCD;
}

.tabs__block-wrapper {
	padding: 5% 4% 0 10%;
}

.tabs__title {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 10%;
	height: 24.7%;	
}

.tabs__text {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center ;
	height: 210px;
	margin-bottom: 3%;
}

.tabs__download {
	width: 270px;
	height: 58px;
	font-weight: 700;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: #EC7979;
	border: none;
}

@media screen and (max-width: 426px) and (min-width:320px){
	.tabs {
		width: 90%;
	}
	.tabs__img {
		display: none;
	}
	.tabs__top-line {
		width: 100%;
		height: 40px;
	}
	#tabs__cell {
		width: 33%;
		padding: 0%;
	}
	.tabs__container {
		text-align: center;
		
	}
	.tabs__block-wrapper {
		padding: 10%;
	}
	.tabs__block {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.tabs__download {
		width: 90%;
		height: 50px;
	}
	.tabs__title {
		font-size: 18px;
		line-height: 24.5px;
		width: 80%;
	}
	.tabs__text {
		font-size: 13px;
		line-height: 24.5px;
	}
}

.awesome,.pricing,.customers,.stylish,.contact {
	font-family: 'Raleway', sans-serif ;
	width: 81.2%;
	margin: 0 auto;
	margin-bottom: 6.5%;
}

.awesome__title,.pricing__title,.customers__title,.stylish__title,.contact__title {
	margin: 0;
	font-size: 36px;
	font-weight: 400;
}

.awesome__title-wrapper,.pricing__title-wrapper,.customers__title-wrapper,.stylish__title-wrapper,.contact__title-wrapper {
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}


.awesome__line,.pricing__line,.customers__line,.stylish__line,.contact__line {
	width: 14.5%;
	border-bottom: 1px solid #EC7979;
	margin: auto;
	margin-bottom: 6%;
}

.awesome__subtitle,.pricing__subtitle,.customers__subtitle,.stylish__subtitle,.contact__subtitle {
	font-size: 18px;
	color: #86878B;
	text-align: center;
	margin-bottom: 12%;
}

.awesome__container,.pricing__container,.customers__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.awesome__block {
	text-align: center;
	width: 32%;
	padding: 0 10px;
}

.awesome__icon-wrapper {
	border: 1px  solid #EC7979;
	height: 92px;
	width: 92px;
	display: flex;
	margin: auto;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-bottom: 20%;
}

.awesome__block-title {
	font-family: 'Open Sans', sans-serif;
	margin: 47px;
	font-weight: 700;
}




.pricing {
	padding-bottom: 0;
	margin-bottom: 0;
}

.pricing__wrapper {
	background-color: #F5F5F5;
	padding-bottom: 3%;
	margin-bottom: 3%;

 }

.pricing__subtitle {
	margin-bottom: 7%;
}

.pricing__block {
	display: flex;
	width: 30%;
	flex-direction: column;
	font-size: 18px;
	color: #86878B;
	height: 518px;
	justify-content: space-between;
 }

 .pricing__item {
	 padding: 14.5px 0 ;
 }

 .pricing__item-wrapper {
	width: 100%;
	background: #fff;
	display: flex ; 
	justify-content: center;
	align-items: center;
 }

.pricing__item-wrapper:first-child {
	height: 58px;
	background-color: #333333;
	color: #fff;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

.pricing__item-wrapper:nth-child(2) {
	background-color: #333333;
	color: #fff;
	font-size: 36px;
	height: 98px;
}

.pricing__item-wrapper:nth-child(3) {
	background-color: #333333;
}

.pricing__block:hover {
	box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
	position: relative;
	bottom: 13px;
}



.customers {
	margin-bottom: 5%;
}

.customers__subtitle {
	margin-bottom: 7%;
}

.customers__block {
	width: 30%;
}

.customers__comment-wrapper {
	padding: 37px 9px;
	border: 1px solid #fff;
	border-radius: 10px;
	background: #E2E2E2;
	text-align: center;
	color: #86878B;
	font-size: 18px;
	line-height: 21px;
	position: relative;
}

.customers__polygon {
	width: 25px;
	height: 25px;
	background: #E2E2E2;
	transform: rotate(67deg) skew(32deg, -14deg);
	position: absolute;
	bottom: -10px;
	left: 80px;
}

.customers__icon {
	display: flex;
	align-items: center;
	margin-top: 66px;
}

.customers__photo {
	width: 70px;
	height: 70px;
	margin-right: 30px;
}

.customers__man {
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 33px;
	margin-bottom: 9px; 
}

.customers__comment-wrapper:hover {
	box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
	color: #d66f6fd8;
	position: relative;
	bottom: 15px;	
}

.stylish {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 442px;
	width: 100%;
	background: url(img/image1.png) 0px 0px no-repeat;
	background-size: cover;
	color: #fff;
}

.stylish::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color:rgba(0, 0, 0, .5);
}

.stylish__wrapper {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.stylish__line {
	border-bottom: 1px solid #fff;
}

.stylish__subtitle {
	color: #fff;
	margin-bottom: 5%;
}

.stylish__download {
	width: 24%;
	height: 58px;
	border: 2px solid #fff;
	background: none;
	color: #fff;
	font-size: 18px;
}
@media screen and (max-width: 426px) and (min-width:320px){
	.awesome,.pricing,.customers {
		width: 100%;
	}
	.awesome__container,.pricing__container {
		flex-direction: column;
	} 
	.awesome__title {
		font-size: 24px;
	}
	.awesome__line,.pricing__line,.stylish__line {
		width: 41%;
	}
	.awesome__icon-wrapper {
		margin-bottom: 15%;
	}
	.awesome__block,.pricing__block {
		width: 80%;
		margin-bottom: 6%;
	}
	.pricing__block {
		width: 90%;
	}
	.pricing__title,.customers__title,.stylish__title {
		font-size: 26px;
	}
	.stylish__wrapper {
		width: 80%;
	}
	.pricing__title-wrapper {
		height: 120px;
	}
	.stylish__title-wrapper {
		height: 120px;
	}
	.stylish__subtitle,.stylish__line {
		margin-bottom: 10%;
	}
	
	.stylish__download {
		width: 80%;
	}
}

.contact__subtitle {
	margin-bottom: 7%;
}

.contact__form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.contact__space,.contact__message {
	border-bottom: 1px solid #BDBDBD;
	padding-bottom: 8%;
	margin-bottom: 50px;
	width: 45%;
}

#message {
	height: 80%;
	resize: none;
}

.contact__button {
	margin-left: auto;
	margin-right: auto;	
	width: 370px;
	height: 58px;
	background: #EC7979;
	color: #fff;
	border: none;
	font-size: 18px;
	font-weight: 600;
}

.axit__footer {
	background-color: #000;
	width: 100%;
	color: #ccc;
	height: 167px;
	padding: 39px 0 27px 0;
	text-align: center;
}

.footer__icon-wrapper {
	display:flex;
	width: 24%;
	margin: 0 auto;
	justify-content: space-around;
	margin-bottom: 32px;
}

.footer__copyright {
	margin: 0 auto;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	color: #FFFFFF80;
}


